.lt-left{
  height: 100%;
  width: 90px;
  float: left;
  position: relative;
  overflow: hidden;
}
.lt-left ul li a{
  display: block;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  background-color: pink;
}
.lt-left ul li.now a{
  background-color: #fff;
  border-right:none;
}

.lt-right{
  height: 100%;
  overflow: hidden;
  /* background-color: blue; */
  position: relative;

}
.lt-right ul li{
  width: 33.33%;
  float: left;
  text-align: center;
}

a.lt-itembrand img{
 width: 62px;
 height: 62px;
 margin: 0 auto;
}

